---
#MAINTAINED BY ANSIBLE.
#Changes made here will be over-written.

wFiles:
  - ca.pem
  - ca-key.pem
  - kubernetes-key.pem
  - kubernetes.pem
  - admin.kubeconfig
  - kube-controller-manager.kubeconfig
  - kube-scheduler.kubeconfig
  - encryption-config.yaml
  - service-account-key.pem
  - service-account.pem

{% for item in hosts_dict.values() %}
{% if item.newHostType == "Master" %}
controller{{ loop.index-1 }}_IP: {{ item.newIP }}
{% endif %}
{% endfor %}
